<div class="tabs">
	<ul class="tabs__listBtns">
		<li class="tabs__itemBtb">
			<button class="tabs__btn active" data-tabs-btn="tab1">Button tab1</button>
		</li>
		<li class="tabs__itemBtb">
			<button class="tabs__btn" data-tabs-btn="tab2">Button tab2</button>
		</li>
		<li class="tabs__itemBtb">
			<button class="tabs__btn" data-tabs-btn="tab3">Button tab3</button>
		</li>
		<li class="tabs__itemBtb">
			<button class="tabs__btn" data-tabs-btn="tab4">Button tab4</button>
		</li>
	</ul>
	<ul class="tabs__listBlocks">
		<li class="tabs__itemBlock active" data-tabs-block="tab1">
			Tab 1 and some content
		</li>
		<li class="tabs__itemBlock" data-tabs-block="tab2">
			Tab 2 and some content
		</li>
		<li class="tabs__itemBlock" data-tabs-block="tab3">
			Tab 3 and some content
		</li>
		<li class="tabs__itemBlock" data-tabs-block="tab4">
			Tab 4 and some content
		</li>
	</ul>
</div>