<div class="modal" data-modal-wrapper>
	<div class="modal__list">
		<div class="modal__item" data-modal-window="modal1">
			<button data-modal-btn-close>Close</button>
			First modal
			<button data-modal-btn-open="modal2">Open modal2</button>
		</div>
		<div class="modal__item" data-modal-window="modal2">
			<button data-modal-btn-close>Close</button>
			Second modal
			<button data-modal-btn-open="modal1">Open modal1</button>
		</div>
	</div>
</div>
<button data-modal-btn-open="modal1">Open modal1</button>
<button data-modal-btn-open="modal2">Open modal2</button>