.modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.7);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .2s ease-in-out;
	
	&:not(.active){
		transform: translateY(-100%);
	}
	&__list{
		transition: all .3s ease-in-out;
		background: #fff;
	}
	&__item{
		transition: all .3s ease-in-out;
		&:not(.active){
			transform: translateX(-200vw);
			position: absolute;
		}
	}
}