<div class="select" data-select-wrapper>
	<button class="select__mainBtn" data-select-btn>
		<input type="text" class="select__input" data-select-input>
		<div class="select__cntLeft"></div>
		<div class="select__cnt" data-select-cnt>Select variant</div>
		<div class="select__cntRight"></div>
	</button>
	<ul class="select__list" data-select-list>
		<li class="select__item">
			<button class="select__itemBtn" data-select-variant="variant1"><span data-select-cont>Variant 1</span></button>
		</li>
		<li class="select__item">
			<button class="select__itemBtn" data-select-variant="variant2"><span data-select-cont>Variant 2</span></button>
		</li>
		<li class="select__item">
			<button class="select__itemBtn" data-select-variant="variant3"><span data-select-cont>Variant 3</span></button>
		</li>
	</ul>
</div>